@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'libs/fixed-grid';

/*
	Threshold by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		default:   (6000px,   null     ),
		xlarge:    (5000px,   50000px   ),
		large:     (3000px,    30000px   ),
		medium:    (1400px,    1400px    ),
		small:     (800px,    800px    ),
		xsmall:    (600px,    600px    ),
		xxsmall:   (null,     400px    )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/table';
	@import 'components/wrapper';
	@import 'components/inner';
	@import 'components/header';
	@import 'components/features-grid';
	@import 'components/spotlights';

// Layout.

	@import 'layout/header';
	@import 'layout/navPanel';
	@import 'layout/banner';
	@import 'layout/wrapper';
	@import 'layout/footer';
